.header__lang-link {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.17;
    text-align: right;
    color: #FFFFFF;
    margin: 18px 18px 6px 0;
    opacity: 1;
    transition: opacity 1s linear;

}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 424px) {
    .header__lang-link {
        font-size: 1.125rem;
        line-height: 1.33;
    }
}