.page {
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 24px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color: #2A2C2F;
    color: white;
}

@media screen and (max-width: 424px) {
    .page {
        padding-top: 16px;
    }
}