.header__logo {
    background-image: url(../../../images/__logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 176px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 424px) {
    .header__logo {
        width: 142px;
        height: 100%;
    }
}