.lead__title {
    width: 720px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 6rem;
    line-height: 1.04;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .lead__title {
        width: 390px;
        height: 120px;
        font-size: 3.4rem;
        line-height: 1.1;
    }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .lead__title {
        width: 288px;
        height: 88px;
        font-size: 2.5rem;
        line-height: 1.1;
        
    }
}